<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://fr-fr.facebook.com/">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/?hl=fr">
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=Lfbw6gGpROs&t=632s">
                        YouTube
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div>
    </div>
</footer>
