<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" style="background-color:rgb(40, 40, 83);">
                <h2 class="card-title" style="color: white; font-weight: bold;">Université de Tourcoing</h2>
                <h3 style="color: white;">Nos engagements Ecologiques</h3>

            </div>
<div class="card">

    <h3 class="card-title">La vie nocturne à Tourcoing</h3>
    <h6>7j/7 - 24h/24: On voit jamais le soleil</h6>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">sports_bar</i>
                        </div>
                        <p class="card-category">Aloolémie moyen</p>
                        <h3 class="card-title">2.4
                            <small>g/L</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Get More Beer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">star</i>
                        </div>
                        <p class="card-category">Tripadvisor</p>
                        <h3 class="card-title">4.6/5</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> In 1977
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">agriculture</i>
                        </div>
                        <p class="card-category">Salon annuel de l'agriculture</p>
                        <h3 class="card-title">29/02/2022</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> RDV immanquable
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">tv</i>
                        </div>
                        <p class="card-category">Arrivée de la télévision en couleurs</p>
                        <h3 class="card-title">Fin 2022</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Futur is coming
                        </div>
                    </div>
                </div>
            </div>
        </div>