<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" style="background-color:rgb(40, 40, 83);">
                <h2 class="card-title" style="color: white; font-weight: bold;">Tableau de bords</h2>
                <h3 style="color: white;">Nom Prénom</h3>
                <h4 style="color: white;">Classe</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="card-title">Données personnelles</h3>
                        <div class="alert alert-primary alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, midnightblue, rgb(33, 33, 151), #fff);">
                          <i class="material-icons" data-notify="icon">add_alert</i>
                            <span style="font-size: large; font-weight: bold;"> Emplois du temps</span>
                        </div>
                        <div class="alert alert-danger alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, rgb(33, 33, 151), royalblue, #fff);">
                          <i class="material-icons" data-notify="icon">add_alert</i>
                            <span style="font-size: large; font-weight: bold;">Relevé de notes</span>
                        </div>
                        <div class="alert alert-warning alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, royalblue, cornflowerblue, #fff);">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <span style="font-size: large; font-weight: bold;">Documents administratifs</span>
                        </div>
                        <div class="alert alert-success alert-with-icon" data-notify="container" style="background: linear-gradient(110deg, cornflowerblue, rgb(128, 165, 235), #fff);">
                          <i class="material-icons" data-notify="icon">add_alert</i>
                          <span style="font-size: large; font-weight: bold;">Passer un examen ligne</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="card-title">Liens pratiques</h3>
                        <div class="alert alert-success alert-with-icon" data-notify="container"  style="background: linear-gradient(110deg, rgb(0, 83, 0), green, #fff);">
                          <i class="material-icons" data-notify="icon">add_alert</i>
                          <span style="font-size: large; font-weight: bold;">Liste des cours</span>
                        </div>
                        <div class="alert alert-success alert-with-icon" data-notify="container"  style="background: linear-gradient(110deg, green, limegreen, #fff);">
                          <i class="material-icons" data-notify="icon">add_alert</i>
                          <span style="font-size: large; font-weight: bold;">Liste des enseignants</span>
                        </div>
                        <div class="alert alert-success alert-with-icon" data-notify="container"  style="background: linear-gradient(110deg, limegreen, rgb(107, 219, 107), #fff);">
                          <i class="material-icons" data-notify="icon">add_alert</i>
                          <span style="font-size: large; font-weight: bold;">Consulter les offres de stage et d'emploi</span>
                        </div>
                        <div class="alert alert-success alert-with-icon" data-notify="container"  style="background: linear-gradient(110deg, rgb(107, 219, 107), rgb(137, 218, 137), #fff);">
                          <i class="material-icons" data-notify="icon">add_alert</i>
                          <span style="font-size: large; font-weight: bold;">Forum</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>